body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
}

.main {
    height: 100vh;
    width: 100vw;
}

.section-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0 10% 0;
}

.btn { /* Tout les boutons du site ont le même style */
    /* padding: ; */
    border-radius: 10px;
    border: 10px;
    border-color: #765EB3 ;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

.btn span {
    font-size: 1em;
    color: white;
    line-height: 26px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}

.titre { /* h1 */
    color: white;
    line-height: 26px;
}

.sous-titre { /* h2 */
    color: white;
    line-height: 26px;
}

.para-text {
    justify-content: center;
    text-align: justify;
    font-size: 1em;
}

.section1{
    background-color:#5f43a7 ;
    
}

.section2 {

}

.section3 {

}

.section4 {

}