@import 'components/_helpers'
@import 'components/_variables'
@import 'components/_mixins'
@import 'components/_nav'
@import 'components/_grid'
@import 'components/_button'

body
    @extend %no-spacing
    box-sizing: border-box
    font-family: $font-type
    font-weight: $font-weight
    scroll-behavior: smooth
    overflow-y: scroll 

h1, h2, h3
    color: $white-color
    line-height: $line-height

.photo
    width: $img-width
    height: $img-height

.landing-text

    font-size: $font-size-regular
    line-height: $line-height
    color: $paragraph-color

.info-contact-list
    @include reset-list

.info-contact-list p
    color: $paragraph-color
    line-height: $line-height

.para-text
    font-size: $font-size-regular
    line-height: $line-height
    color: $paragraph-color

.form-contact
    display: flex
    flex-direction: column

.section-first, .section-fourth
    background-color: $landing-color

.section-second
    background-color: $bg-color-section-two

.section-third
    background-color: $pink-color

.border-radius-top
    border-radius: $border-radius-top

.border-radius-bot
    border-radius: $border-radius-bot

.footer
    background-color: $footer-color

.list-footer-elements
    @include reset-list
    font-size: small

.list-footer
    color: $paragraph-color

.form-label
    color: $form-label-color
    font-size: $font-size-label

.small-area-input
    border-radius: $border-radius-input
    opacity: $opacity-input

.message-area-input
    border-radius: $border-radius-input
    opacity: $opacity-input

.input-background
    background-color: hsl(257, 43%, 75%)

@media screen and (min-width:700px) 
    .section-first, .section-fourth, .section-second, .section-third
        margin-left: 22vw

    .section-first
        height: 100vh
        padding-top: 5%
        padding-bottom: 0%

    .photo
        width: 100%
        height: 100%