$font-type: 'Source Sans Pro', Arial, sans-serif

$navbar-color: #312450
$landing-color: #5F43A7
$blue-color: #5E42A6
$pink-color: #B74E91
$paragraph-color: #AA99C7
$footer-color: #493382

$max-h: 100vh
$max-w: 100vw

$spaceamounts: (0, 2, 5, 10, 30, 50)
$sides: (top, bottom, left, right)

@each $space in $spaceamounts 
  @each $side in $sides 
    .m-#{str-slice($side, 0, 1)}-#{$space} 
      margin-#{$side}: $space*1% !important 
    
    .p-#{str-slice($side, 0, 1)}-#{$space} 
      padding-#{$side}: $space*1% !important

@mixin reset-list
    margin: 0
    padding: 0
    list-style: none

@mixin button-bg($bg)
    background: $bg
    &:hover
        background: lighten($bg,8%)
        transition: all 0.3s ease

    &:active
        background: lighten($bg,25%)

.btn-blue
    @include button-bg($landing-color)

.btn-pink
    @include button-bg($pink-color)

body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $font-type
    font-weight: 300

.main
    margin: 0
    padding: 0

.photo
    width: 100%
    height: 80%

.navbar
    display: none

.btn
    line-height: 2.5
    font-size: 1rem
    text-align: center
    border-radius: 25px
    border: 1px solid #765EB3
    background-color: transparent
    padding: 0 30% 0 30%

.btn span
    font-size: 1em
    line-height: 26px
    border: #5f43a7
    vertical-align: baseline
    letter-spacing: normal
    word-spacing: 0px

h1
    color: white
    line-height: 26px

.landing-text

    font-size: 1em
    line-height: 26px
    color: #AA99C7

h2
    line-height: 26px
    color: white

h3
    color: white
    line-height: normal

.info-contact-list
    list-style: none
    padding-left: 0%

.info-contact-list p
    color: #fff
    line-height: 26px

.para-text
    justify-content: center
    font-size: 1em
    line-height: 26px
    color: $paragraph-color

.form-contact
    display: flex
    flex-direction: column

.section-first, .section-fourth
    background-color: $landing-color

.section-second
    background-color: #5052B5

.section-third
    background-color: #B74E91

.grid-container
    display: grid
    grid-template-columns: 90%
    border: 2px black

.grid-container div
    background-color: hsl(322, 42%, 55%)
    border: 1px solid white

.footer
    background-color: $footer-color

.list-footer-elements
    @include reset-list
    color: #AA99C7
    font-size: small

.form-label
    color: white
    font-size: 26px

.small-area-input
    border-radius: 10px
    opacity: 0.1

.message-area-input
    border-radius: 10px
    opacity: 0.1

.input-background
    background-color: hsl(257, 43%, 75%)

/* @media screen and (min-width:700px) 
 .navbar 
 width: 20vw
 height: 100vh
 background-color: rgb(49,36,80)
 display: flex
 position: fixed
 

    .nav-list
        margin-top: 100%
        margin-left: 40%

    .nav-list li
        align-items: center
        justify-content: center
        list-style: none
        text-transform: uppercase
        text-align: end

    .section-first, .section-fourth, .section-second, .section-third
        margin-left: 18vw

    .section-first
        height: 100vh
        padding-top: 5%
        padding-bottom: 0%

    .btn
        padding: 0 5% 0 5%

    .photo
        width: 100%
        height: 100%

    .section-second
        display: grid
        grid-template-columns: 400px 600px
        grid-template-rows: 50vh auto 50vh
        justify-items: stretch
        margin-left: 20vw

    .grid-info-container
        justify-content: left */
