/* Margin & Padding */
.m-t-0 {
  margin-top: 0% !important;
}

.p-t-0 {
  padding-top: 0% !important;
}

.m-b-0 {
  margin-bottom: 0% !important;
}

.p-b-0 {
  padding-bottom: 0% !important;
}

.m-l-0 {
  margin-left: 0% !important;
}

.p-l-0 {
  padding-left: 0% !important;
}

.m-r-0 {
  margin-right: 0% !important;
}

.p-r-0 {
  padding-right: 0% !important;
}

.m-t-2 {
  margin-top: 2% !important;
}

.p-t-2 {
  padding-top: 2% !important;
}

.m-b-2 {
  margin-bottom: 2% !important;
}

.p-b-2 {
  padding-bottom: 2% !important;
}

.m-l-2 {
  margin-left: 2% !important;
}

.p-l-2 {
  padding-left: 2% !important;
}

.m-r-2 {
  margin-right: 2% !important;
}

.p-r-2 {
  padding-right: 2% !important;
}

.m-t-5 {
  margin-top: 5% !important;
}

.p-t-5 {
  padding-top: 5% !important;
}

.m-b-5 {
  margin-bottom: 5% !important;
}

.p-b-5 {
  padding-bottom: 5% !important;
}

.m-l-5 {
  margin-left: 5% !important;
}

.p-l-5 {
  padding-left: 5% !important;
}

.m-r-5 {
  margin-right: 5% !important;
}

.p-r-5 {
  padding-right: 5% !important;
}

.m-t-10 {
  margin-top: 10% !important;
}

.p-t-10 {
  padding-top: 10% !important;
}

.m-b-10 {
  margin-bottom: 10% !important;
}

.p-b-10 {
  padding-bottom: 10% !important;
}

.m-l-10 {
  margin-left: 10% !important;
}

.p-l-10 {
  padding-left: 10% !important;
}

.m-r-10 {
  margin-right: 10% !important;
}

.p-r-10 {
  padding-right: 10% !important;
}

.m-t-20 {
  margin-top: 20% !important;
}

.p-t-20 {
  padding-top: 20% !important;
}

.m-b-20 {
  margin-bottom: 20% !important;
}

.p-b-20 {
  padding-bottom: 20% !important;
}

.m-l-20 {
  margin-left: 20% !important;
}

.p-l-20 {
  padding-left: 20% !important;
}

.m-r-20 {
  margin-right: 20% !important;
}

.p-r-20 {
  padding-right: 20% !important;
}

.m-t-30 {
  margin-top: 30% !important;
}

.p-t-30 {
  padding-top: 30% !important;
}

.m-b-30 {
  margin-bottom: 30% !important;
}

.p-b-30 {
  padding-bottom: 30% !important;
}

.m-l-30 {
  margin-left: 30% !important;
}

.p-l-30 {
  padding-left: 30% !important;
}

.m-r-30 {
  margin-right: 30% !important;
}

.p-r-30 {
  padding-right: 30% !important;
}

.m-t-50 {
  margin-top: 50% !important;
}

.p-t-50 {
  padding-top: 50% !important;
}

.m-b-50 {
  margin-bottom: 50% !important;
}

.p-b-50 {
  padding-bottom: 50% !important;
}

.m-l-50 {
  margin-left: 50% !important;
}

.p-l-50 {
  padding-left: 50% !important;
}

.m-r-50 {
  margin-right: 50% !important;
}

.p-r-50 {
  padding-right: 50% !important;
}

body {
  padding: 0;
  margin: 0;
}

/* Colors */
/* Font */
/* Nav */
/* Photos */
/* Buttons */
/* Form input */
/* Form label */
/* Grid */
/* Grid divs */
/* List Style */    
/* Button hover effect */
/* Colors */
/* Font */
/* Nav */
/* Photos */
/* Buttons */
/* Form input */
/* Form label */
/* Grid */
/* Grid divs */
.navbar-container {
  display: none;
}

@media screen and (min-width: 700px) {
  .navbar-container {
    display: revert;
    padding: 2.5em 2.5em 0.5em 2.5em;
    background: #312450;
    cursor: default;
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: right;
    top: 0;
    width: 18vw;
    z-index: 10000;
  }
  .sidebar {
    display: flex;
    min-height: 100%;
    width: 100%;
  }
  ul {
    margin: 30vh 0 2em 0;
    list-style: none;
  }
  .li-nav {
    position: relative;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  .li-nav:before {
    position: absolute;
    content: "";
    background-image: #ffffff;
    height: 2px;
    width: 100%;
    right: 0;
    bottom: -10px;
  }
  .li-nav:before {
    background-image: linear-gradient(to right, #5e42a6, #b74e91);
    transition: transform 0.5s ease;
  }
}
.grid-section-3 {
  margin-right: 5%;
}

.grid-section-3 div {
  border: 1px solid white;
}

.border-radius-top {
  border-radius: 5px 5px 0 0;
}

.border-radius-bot {
  border-radius: 0 0 5px 5px;
}

@media screen and (min-width: 700px) {
  .section-second {
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 50vh auto 50vh;
    justify-items: stretch;
    margin-left: 20vw;
  }
  .grid-section-2 {
    justify-content: left;
  }
  .grid-section-3 {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: "content1 content2" "content3 content4" "content5 content6";
  }
  .content1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
  }
  .content2 {
    border-top-right-radius: 5px;
  }
  .content5 {
    border-bottom-left-radius: 5px;
  }
  .content6 {
    border-bottom-right-radius: 5px;
  }
}
/* Buttons */
.btn-blue {
  background: #5F43A7;
}
.btn-blue:hover {
  background: #7357bc;
  transition: all 0.3s ease-in;
}
.btn-blue:active {
  background: #a795d4;
}

.btn-pink {
  background: #B74E91;
}
.btn-pink:hover {
  background: #c36ba3;
  transition: all 0.3s ease-in;
}
.btn-pink:active {
  background: #dca9c9;
}

.btn {
  line-height: 2.5;
  font-size: 1em;
  border-radius: 25px;
  border: 1px solid #765EB3;
  background-color: transparent;
}

.btn span {
  font-size: 1em;
  line-height: 26px;
  color: #fff;
}

@media screen and (min-width: 700px) {
  .btn {
    color: black;
  }
}
.footer {
  background-color: #493382;
}

.list-footer-elements {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: small;
}

.list-footer {
  color: #AA99C7;
}

@media screen and (min-width: 700px) {
  .footer {
    margin-left: 22vw;
  }
}
/* Form */
.form-label {
  color: #fff;
  font-size: 26px;
}

.small-area-input {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-bottom: 5%;
  border-radius: 10px;
  opacity: 0.1;
}

.name-input, .email-input, .message-input {
  margin-left: 10%;
}

.message {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-bottom: 20%;
  border-radius: 10px;
  opacity: 0.1;
}

.input-background {
  background-color: hsl(257deg, 43%, 75%);
}

@media screen and (min-width: 700px) {
  .grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "name-input email-input info-list" "message message info-list";
    margin-left: 10%;
    margin-right: 10%;
  }
  .small-area-input {
    margin-top: 5%;
    grid-area: email-input;
    width: 90%;
    height: 40%;
  }
  .message {
    margin-top: 5%;
    grid-area: message;
    height: 90%;
    width: 200%;
    padding-bottom: 0;
  }
  .message-input {
    margin-top: 5%;
  }
  .name-input {
    margin-top: 5%;
  }
  .email-input {
    margin-top: 5%;
  }
  .info-contact-list {
    grid-area: info-list;
  }
}
/* Contact list */
.info-contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-contact-list p {
  color: #AA99C7;
  line-height: 26px;
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

h1, h2, h3 {
  color: #fff;
  line-height: 26px;
}

.photo {
  width: 100%;
  height: 80%;
}

.landing-text {
  font-size: 1em;
  line-height: 26px;
  color: #AA99C7;
}

.para-text {
  font-size: 1em;
  line-height: 26px;
  color: #AA99C7;
}

.section-first, .section-fourth {
  background-color: #5F43A7;
}

.section-second {
  background-color: #5052B5;
}

.section-third {
  background-color: #B74E91;
}

@media screen and (min-width: 700px) {
  .section-first, .section-fourth, .section-second, .section-third {
    margin-left: 22vw;
  }
  .section-first {
    height: 100vh;
    padding-top: 5%;
    padding-bottom: 0%;
  }
  .photo {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=style_output.css.map */
