body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
}

.main {
    height: 100vh;
    width: 100vw;
}

.section-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1{
    background-color:#5f43a7 ;
    padding: 10% 0 10% 0;
}

.titre { /* h1 */
    color: white;
}

.sous-titre { /* h2 */

}

.btn {
    /* padding: ; */
    border-radius: 10px;
    border: 2px;
    border-color: #765EB3 ;
    text-align: center;
    font-size: 16px;
}

.section2 {

}

.section3 {

}

.section4 {

}