/* Margin & Padding */
.m-t-0 {
  margin-top: 0% !important;
}

.p-t-0 {
  padding-top: 0% !important;
}

.m-b-0 {
  margin-bottom: 0% !important;
}

.p-b-0 {
  padding-bottom: 0% !important;
}

.m-l-0 {
  margin-left: 0% !important;
}

.p-l-0 {
  padding-left: 0% !important;
}

.m-r-0 {
  margin-right: 0% !important;
}

.p-r-0 {
  padding-right: 0% !important;
}

.m-t-2 {
  margin-top: 2% !important;
}

.p-t-2 {
  padding-top: 2% !important;
}

.m-b-2 {
  margin-bottom: 2% !important;
}

.p-b-2 {
  padding-bottom: 2% !important;
}

.m-l-2 {
  margin-left: 2% !important;
}

.p-l-2 {
  padding-left: 2% !important;
}

.m-r-2 {
  margin-right: 2% !important;
}

.p-r-2 {
  padding-right: 2% !important;
}

.m-t-5 {
  margin-top: 5% !important;
}

.p-t-5 {
  padding-top: 5% !important;
}

.m-b-5 {
  margin-bottom: 5% !important;
}

.p-b-5 {
  padding-bottom: 5% !important;
}

.m-l-5 {
  margin-left: 5% !important;
}

.p-l-5 {
  padding-left: 5% !important;
}

.m-r-5 {
  margin-right: 5% !important;
}

.p-r-5 {
  padding-right: 5% !important;
}

.m-t-10 {
  margin-top: 10% !important;
}

.p-t-10 {
  padding-top: 10% !important;
}

.m-b-10 {
  margin-bottom: 10% !important;
}

.p-b-10 {
  padding-bottom: 10% !important;
}

.m-l-10 {
  margin-left: 10% !important;
}

.p-l-10 {
  padding-left: 10% !important;
}

.m-r-10 {
  margin-right: 10% !important;
}

.p-r-10 {
  padding-right: 10% !important;
}

.m-t-30 {
  margin-top: 30% !important;
}

.p-t-30 {
  padding-top: 30% !important;
}

.m-b-30 {
  margin-bottom: 30% !important;
}

.p-b-30 {
  padding-bottom: 30% !important;
}

.m-l-30 {
  margin-left: 30% !important;
}

.p-l-30 {
  padding-left: 30% !important;
}

.m-r-30 {
  margin-right: 30% !important;
}

.p-r-30 {
  padding-right: 30% !important;
}

.m-t-50 {
  margin-top: 50% !important;
}

.p-t-50 {
  padding-top: 50% !important;
}

.m-b-50 {
  margin-bottom: 50% !important;
}

.p-b-50 {
  padding-bottom: 50% !important;
}

.m-l-50 {
  margin-left: 50% !important;
}

.p-l-50 {
  padding-left: 50% !important;
}

.m-r-50 {
  margin-right: 50% !important;
}

.p-r-50 {
  padding-right: 50% !important;
}

/* Colors */
/* Font */
/* Buttons */
/* List Style */    
/* Button hover effect */
.btn-blue {
  background: #5F43A7;
}
.btn-blue:hover {
  background: #7357bc;
  transition: all 0.3s ease;
}
.btn-blue:active {
  background: #a795d4;
}

.btn-pink {
  background: #B74E91;
}
.btn-pink:hover {
  background: #c36ba3;
  transition: all 0.3s ease;
}
.btn-pink:active {
  background: #dca9c9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
}

.main {
  margin: 0;
  padding: 0;
}

.photo {
  width: 100%;
  height: 80%;
}

.navbar {
  display: none;
}

.btn {
  line-height: 2.5;
  font-size: 1rem;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #765EB3;
  background-color: transparent;
  padding: 0 30% 0 30%;
}

.btn span {
  font-size: 1em;
  line-height: 26px;
  border: #5f43a7;
  vertical-align: baseline;
}

h1 {
  color: white;
  line-height: 26px;
}

.landing-text {
  font-size: 1em;
  line-height: 26px;
  color: #AA99C7;
}

h2 {
  line-height: 26px;
  color: white;
}

h3 {
  color: white;
  line-height: normal;
}

.info-contact-list {
  list-style: none;
  padding-left: 0%;
}

.info-contact-list p {
  color: #fff;
  line-height: 26px;
}

.para-text {
  justify-content: center;
  font-size: 1em;
  line-height: 26px;
  color: #AA99C7;
}

.form-contact {
  display: flex;
  flex-direction: column;
}

.section-first, .section-fourth {
  background-color: #5F43A7;
}

.section-second {
  background-color: #5052B5;
}

.section-third {
  background-color: #B74E91;
}

.grid-container {
  display: grid;
  grid-template-columns: 90%;
  border: 2px black;
}

.grid-container div {
  background-color: hsl(322deg, 42%, 55%);
  border: 1px solid white;
}

.footer {
  background-color: #493382;
}

.list-footer-elements {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #AA99C7;
  font-size: small;
}

.form-label {
  color: white;
  font-size: 26px;
}

.small-area-input {
  border-radius: 10px;
  opacity: 0.1;
}

.message-area-input {
  border-radius: 10px;
  opacity: 0.1;
}

.input-background {
  background-color: hsl(257deg, 43%, 75%);
}

/* @media screen and (min-width:700px) 
 * .navbar 
 * width: 20vw
 * height: 100vh
 * background-color: rgb(49,36,80)
 * display: flex
 * position: fixed
 *  .nav-list
 *      margin-top: 100%
 *      margin-left: 40%
 *
 *  .nav-list li
 *      align-items: center
 *      justify-content: center
 *      list-style: none
 *      text-transform: uppercase
 *      text-align: end
 *
 *  .section-first, .section-fourth, .section-second, .section-third
 *      margin-left: 18vw
 *
 *  .section-first
 *      height: 100vh
 *      padding-top: 5%
 *      padding-bottom: 0%
 *
 *  .btn
 *      padding: 0 5% 0 5%
 *
 *  .photo
 *      width: 100%
 *      height: 100%
 *
 *  .section-second
 *      display: grid
 *      grid-template-columns: 400px 600px
 *      grid-template-rows: 50vh auto 50vh
 *      justify-items: stretch
 *      margin-left: 20vw
 *
 *  .grid-info-container
 *      justify-content: left */

/*# sourceMappingURL=style_output.css.map */
