.footer
    background-color: $footer-color

.list-footer-elements
    @include reset-list
    font-size: small

.list-footer
    color: $paragraph-color

@media screen and (min-width: 700px)
    .footer
        margin-left: 22vw
