@import '_variables'

.navbar-container
    display: none

@media screen and (min-width:700px)

    .navbar-container
        display: revert
        padding: 2.5em 2.5em 0.5em 2.5em
        background: #312450
        cursor: default
        height: 100vh
        left: 0
        position: fixed
        text-align: right
        top: 0
        width: 18vw
        z-index: 10000

    .sidebar
        display: flex
        min-height: 100%
        width: 100%

    ul
        margin: 30vh 0 2em 0
        list-style: none

    .li-nav
        position: relative

    a
        text-decoration: none
        color: #fff

    .li-nav:before
        position: absolute
        content: ""
        background-image: #ffffff
        height: 2px
        width: 100%
        right: 0
        bottom: -10px

    .li-nav:before
        background-image: linear-gradient(to right, #5e42a6, #b74e91)
        transition: transform 0.5s ease
