$font-type: 'Source Sans Pro', Arial, sans-serif


/* Colors */

$navbar-color: #312450
$landing-color: #5F43A7
$blue-color: #5E42A6
$pink-color: #B74E91
$paragraph-color: #AA99C7
$footer-color: #493382
$border-color-btn: #765EB3


/* Font */

$font-type: 'Source Sans Pro', Arial, sans-serif
$font-weight: 300
$line-height: 26px


/* Buttons */

$border-radius-btn: 25px
$bg-color-btn: transparent
$border-btn: 1px solid $border-color-btn
